
  

  form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  form input {
    width: 98%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: grey;
    padding-left: 10px;
    margin-top: 10px;
  }
  form label {
    margin-top: 20px;
  }
  form input:focus {
    outline: 0;
  }
  form textarea{
    border-radius: 5px;
    border: 1px solid lightgray;
    color: grey;
    padding: 10px;
    margin-top: 10px;
  }
  form textarea:focus {
    outline: 0;
  }
  /* modal Buttons */
  .Modal-btn {
    border-radius: 5px;
    background-color: #5e5b5b;
    border: transparent;
    color: white;
    padding: 8px 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
  }
  .Modal-btn:hover {
    background-color: rgba(12, 11, 11, 0.8);
  }
  .Modal-btn:focus {
    outline: 0;
  }
  
  